<head>
    <style>
        .aaa:hover {
            color: red !important;
            text-decoration: underline !important;
            transition: 0.5s;
        }
    </style>
</head>

<section id="testimonials" class="testimonials">
    <div class="container">

        <div class="section-title" data-aos="fade-up">
            <h2>Categories</h2>

        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">
                <%categoryList.map((category,index)=>{%>
                    <div class="swiper-slide">
                        <div class="testimonial-wrap">
                            <h5>
                                <%=category.categoryName.toUpperCase()%>
                            </h5>
                        </div>
                    </div>
                    <%})
                    %>
            </div>
</section>