<!DOCTYPE html>
<html lang="en">

<head>
    <%-include('_externallink.ejs')%>

</head>

<body>
    <%-include('_topbar.ejs')%>
        <%-include('_div.ejs')%>
            <%-include('_footer.ejs')%>
</body>

</html>